body {
    /*background-image: url(pictures/image/background.png);*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    display: flex;
    gap: 30px;
    width: 60%;
    /*box-shadow: 2px 2px 10px;*/
    border-radius: 5px;
    padding: 30px;
}
.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}
.fa-solid {
    font-size: 250px;
    padding: 30px;
    color: deepskyblue;
}
#timer {
    width: 70%;
}
#timer h2 {
    color: #060606;
}
.counter {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.box {
    background-color: #06dbca;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    border-radius: 5px;
}
.box span {
    font-size: 30px;
}
.box p{
    margin: 0;
}
.name {
    display: flex;
    gap: 40px;
}
